<div class="main-content" *ngIf="editpperson === undefined && !showRelation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">My Added Members</h4>
                        <p class="card-category">List members that you have added</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Tên</th>
                                    <th>Hình</th>
                                    <th>Thao Tác</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of persons">
                                        <td>{{p.id}}</td>
                                        <td>{{p.name}}</td>
                                        <td>
                                            <img src="{{p.image}}" class="img-thumbnail"
                                                style="max-width: 80px;max-height: 80px;">
                                        </td>
                                        <td class="text-primary">
                                            <a (click)="add(p.id);" href="javascript:void(0)"> Thêm </a> |
                                            <a (click)="edit(p.id);" href="javascript:void(0)"> Sửa </a> |
                                            <a (click)="delete(p.id);" href="javascript:void(0)"> Xóa </a> | 
                                            <a (click)="relationTmp.loadRelations(p.id,p.name);showRelations();" href="javascript:void(0)"> Người Thân </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-profile [editpperson]="editpperson" [addNew]="addNew" (profileEvent)="onSubmit($event)"></app-profile>
<app-relation (relationEvent)="onRelationEvent($event)" #relationTmp ></app-relation>