<div class="main-content" *ngIf="relations !== undefined">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Relations</h4>
                        <p class="card-category">List relation members</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let r of relations">
                                        <td>{{r.relation.id}}</td>
                                        <td>{{r.relation.name}}</td>
                                        <td>
                                            <img src="{{r.relation.image}}" class="img-thumbnail"
                                                style="max-width: 100px;max-height: 100px;">
                                        </td>
                                        <td>{{r.type}}</td>
                                        <td class="text-primary">
                                            <a (click)="add(p.id);" href="javascript:void(0)"> Add </a> |
                                            <a (click)="edit(p.id);" href="javascript:void(0)"> Edit </a> |
                                            <a (click)="delete(p.id);" href="javascript:void(0)"> Delete </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <button (click)="close();" mat-raised-button type="submit"
                    class="btn btn-danger pull-right">Close</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>