<div class="main-content" *ngIf="editpperson !== undefined">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Members Info</h4>
                        <p class="card-category">Complete Members Info</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
                                <div class="col-md-12 card-profile" >
                                    <div class="card-avatar" style="float: left;">
                                        <input type="file" #image hidden (change)="onFileSelected($event)">
                                        <a href="javascript:void(0)">
                                            <img (click)="image.click();" [(src)]="editpperson.image" name="image" class="img"
                                                style="width: 130px;height: 130px;">
                                        </a>
                                    </div>
                                    <span  style="color: black;float: left;">{{fileName}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" *ngIf="addNew">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Chọn quan hệ gia đình</mat-label>
                                        <mat-select [(value)]="editpperson.relation">
                                            <mat-option value="MOM">Mẹ</mat-option>
                                            <mat-option value="DAD">Bố</mat-option>
                                            <mat-option value="WIFE_OR_HUSBAND">Vợ, Chồng</mat-option>
                                            <mat-option value="KID">Con</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Tên" [(ngModel)]="editpperson.firstName" name="firstName"
                                            type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Họ" [(ngModel)]="editpperson.lastName" name = "surname"
                                            type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Ngày sinh" [(ngModel)]="editpperson.bornedDate" name="bornedDate"
                                            type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Ngày mất" [(ngModel)]="editpperson.passedDate" name="passedDate"
                                            type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="SĐT" [(ngModel)]="editpperson.phoneNum" name="phoneNum"
                                            type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Địa chỉ Email" [(ngModel)]="editpperson.email" name="email"
                                            type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Chọn Giới Tính</mat-label>
                                        <mat-select [(value)]="editpperson.gender">
                                            <mat-option value="MALE">Nam</mat-option>
                                            <mat-option value="FEMALE">Nữ</mat-option>
                                            <mat-option value="OTHER">Khác</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Địa chỉ" type="text">
                                    </mat-form-field>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Tên đăng nhập" [(ngModel)]="editpperson.userName" name = "userName"
                                            type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" *ngIf="addNew">
                                        <input matInput placeholder="Mã đăng nhập" [(ngModel)]="editpperson.passWord" name = "passWord"
                                            type="password">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" *ngIf="addNew">
                                        <input matInput placeholder="Nhập lại mã đăng nhập" [(ngModel)]="editpperson.rpassWord" name = "rpassWord"
                                            type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Thông tin</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                            placeholder="Viết điều gì đó về người này" [(ngModel)]="editpperson.desc" name="desc" ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button *ngIf="!addNew" (click)="save();" mat-raised-button type="submit"
                                class="btn btn-danger pull-right">Cập Nhật</button>
                                <button *ngIf="addNew" (click)="save();" mat-raised-button type="submit"
                                class="btn btn-danger pull-right">Thêm Mới</button>
                                <button (click)="close();" mat-raised-button type="submit"
                                class="btn btn-danger pull-right">Đóng</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>